body {
    display: flex;
    flex-direction: column;
    font: roboto;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    padding: 8px;
    margin: 8px;
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 8px;
    padding: 8px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

li {
    padding: 4px 8px;
}

.body-1 {
    display: flex;
    justify-content: space-between;
}

.body-1-left {
    display: flex;
    flex-direction: column;
}

.body-1-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.body-1-text {
    color: #E5E7EB;
    font-size: 18px;
}

.body-1-button {
   background-color: #3882F6;
   color: #E5E7EB;
}

.body-1-image {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #E5E7EB;
}

.body-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-2-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.body-2-cards {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 50px;
    height: 50px;
    border: 2px;
    border-color: #3882F6;
    border-radius: 75%;
}

.card-text {

}

.body-3 {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: #E5E7EB;
}

.body-3-quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.body-3-attribute {
    font-size: 24px;
    font-weight: 800;
}

.body-4 {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
}

.body-4-header {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
}

.body-4-text {
    color: #F9FAF8;
    font-size: 16px;
}

.body-4-button {
    color: #E5E7EB;
    background-color: #3882F6;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
}

.blue-background {
    background-color: #1f2937;
}